.tetris-grid-container {
    margin: 30px auto;
    padding: 10px;
}

.tetris-grid {
    display: grid;
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-template-columns: repeat(var(--cols), 1fr);
}

.tetris-grid-container.red {
    background-image: linear-gradient(to right, red, darkred);
    background-color: #1a1a1a;
}

.tetris-grid-container.green {
    background-image: linear-gradient(to right, green, darkgreen);
    background-color: #1a1a1a;
}

.tetris-grid-container.blue {
    background-image: linear-gradient(to right, darkslateblue, royalblue);
    background-color: #1a1a1a;
}

.tetris-grid-container.purple {
    background-image: linear-gradient(to right, purple, mediumpurple);
    background-color: #1a1a1a;
}