.tetris-grid-container {
    margin: 30px auto;
    padding: 20px 10px 10px 10px;
}

.tetris-grid-container.red {
    background-image: linear-gradient(to right, red, darkred);
    background-color: #1a1a1a;
}

.tetris-grid-container.green {
    background-image: linear-gradient(to right, green, darkgreen);
    background-color: #1a1a1a;
}

.tetris-grid-container.blue {
    background-image: linear-gradient(to right, darkslateblue, royalblue);
    background-color: #1a1a1a;
}

.tetris-grid-container.purple {
    background-image: linear-gradient(to right, purple, mediumpurple);
    background-color: #1a1a1a;
}