@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@tailwind utilities;

@theme {
    --font-orbitron: "Orbitron", sans-serif;
}

body::before {
    pointer-events: none;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('$public/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.1;
}